.popup-image__caption {
  width: 240px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .popup-image__caption {
    width: 291px;
  }
}
