.card__group {
  margin-right: 22px;
  width: 20px;
  background: url(../../../images/love-iccon.svg) center no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: 0;
  transition: opacity 350ms ease;
}

.card__group:hover {
  opacity: 0.5;
  cursor: pointer;
}
