.popup-image__container {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 327px;
  background: transparent;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .popup-image__container {
    width: 816px;
    height: 567px;
  }
}
