.popup__close-button {
  display: block;
  position: absolute;
  top: -35px;
  right: -25px;
  width: 26px;
  height: 26px;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: #FFFF;
  background-color: transparent;
  transform: rotate(-45deg);
  transition: opacity 350ms ease;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .popup__close-button {
    right: -65px;
    width: 80px;
    height: 80px;
  }
}

