.popup__close-button {
  display: block;
  position: absolute;
  width: 31px;
  height: 31px;
  top: -45px;
  right: -40px;
  background-image: url(../../../images/close-iccon.svg);
  background-position: center;
  background-size: 31px 31px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: #FFFF;
  background-color: transparent;
  transition: opacity 350ms ease;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .popup__close-button{
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    top: -52px;
    right: -86px;
  }
}
