.footer {
  width: 282px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 36px;
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 880px;
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
