.profile__sub-heading {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .profile__sub-heading {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
