.profile__sub-heading {
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 36px;
}

@media screen and (min-width: 1280px) {
  .profile__sub-heading {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
