.popup__text {
  width: 238px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__text::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .popup__text {
    width: 358px;
  }
}
